@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: Miama;
  src: url("../fonts/miama/Miama.ttf");
}

:root {
  --primary-color: #e6533c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

/* Shared Classes */
.subtitle {
  color: rgba(255, 255, 255, 0.5);
}
