@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: Miama;
  src: url("../fonts/miama/Miama.ttf");
}

:root {
  --primary-color: #e6533c;
  --subtitle-text: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
  list-style: none;
}

body {
  background-color: black;
}

button {
  padding: 16px 50px;
  border-radius: 40px;
  font-size: 1.25rem;
  cursor: pointer;
}

button:hover{
   scale: 1.1;
  transition: 0.5s;
}

table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 10px 30px;
  text-align: left;
  color: var(--subtitle-text);
}

nav li {
  cursor: pointer;
}

/* Shared Classes */
.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.content-subtitle {
  color: var(--subtitle-text);
  margin: 24px 0;
}

.section-subtitle {
  color: var(--subtitle-text);
  margin: 10px 0;
}

.primary-button {
  background-color: var(--primary-color);
  border: none;
}

.secondary-button {
  background-color: black;
  border: 1px solid white;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

/* Header */
header {
  padding: 2rem 0;
  background-image: linear-gradient(
    rgba(17, 17, 17) 0%,
    rgba(255, 255, 255, 0.13) 50%,
    rgba(119, 119, 119, 0) 100%
  );
}

/* Nav */
nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

nav h3 {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
}

nav ul li {
  padding: 10px 20px;
  border-radius: 3rem;
  margin: 10px;
}

nav ul li:first-child {
  background-color: var(--primary-color);
}

.bar-icon {
  display: none;
}

/* Banner */
.banner {
  justify-content: space-between;
}

.banner-info {
  width: 60%;
}

.button-container {
  gap: 1rem;
}

.banner-info h1 {
  font-size: 5rem;
  line-height: 0.8;
}

.banner-info h1 span {
  font-family: Miama;
  font-weight: 300;
  font-size: 10rem;
}

.banner-img {
  position: relative;
}

.banner-img img {
  width: 100%;
}

.free-video,
.tutorial-video {
  position: absolute;
  padding: 20px 24px;
  border-radius: 1rem;
}

.free-video {
  top: 125px;
  right: -70px;
}

.tutorial-video {
  bottom: 60px;
  left: -110px;
  gap: 20px;
}

.tutorial-video h4 {
  font-size: 1.5rem;
}

.free-video p,
.tutorial-video p {
  color: var(--subtitle-text);
}

.circle {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 15px;
}

/* Habits Section */
#habits {
  text-align: center;
  margin-bottom: 6rem;
}

.habits-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 50px;
}

.card img {
  border-radius: 50%;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 800;
}

.card-subtitle {
  color: var(--subtitle-text);
}

/* Running Section */
#running {
  display: flex;
  margin-bottom: 6rem;
  padding: 30px 50px;
  justify-content: space-between;
}

.running-info {
  width: 50%;
}

#running div img {
  width: 100%;
}

/* Diet Chart */
#diet-chart {
  margin-bottom: 6rem;
}

.diet-chart-title {
  width: 40%;
  margin: 0 auto;
}

.diet-info {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.diet-info img {
  filter: grayscale(100%);
}

.diet-info table {
  width: 60%;
}

.diet-info table,
.diet-info td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
}

.diet-info tr > td:first-child {
  color: white;
  font-weight: 700;
}

.diet-info div img {
  width: 100%;
}

/* BMI Calculator */
#bmi-calculator {
  margin-bottom: 6rem;
}

.bmi-calculator-title {
  width: 40%;
  margin: 0 auto;
}

.bmi-calculator-content {
  justify-content: space-around;
  gap: 3rem;
  padding: 3.25rem 0;
}

.chart .title {
  font-size: 1.75rem;
  margin: 3.25rem 0;
}

.bmi-calculator-content th {
  color: white;
}

.calculator {
  width: 50%;
}

.calculator .title {
  font-size: 1.75rem;
}

input,
select {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0.8rem 1.25rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.5rem;
  color: var(--subtitle-text);
}

/* Teams Section */
.our-team {
  text-align: center;
  margin-bottom: 5rem;
}

.team-members {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(3, 1fr);
  gap: 10px;
  padding: 30px;
}

.member {
  position: relative;
}

.member .name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: left;
}

.member .name h4 {
  font-size: 1.25rem;
  font-weight: 900;
}

.member img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

#running,
#running div img,
.team-members,
.member img {
  border-radius: 1rem;
}

/* Footer */
.main-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5rem;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer h2 {
  color: var(--primary-color);
}

.sub-footer {
  text-align: center;
  padding: 0.5rem 0;
  color: var(--subtitle-text);
}

/* Small Screen */
@media screen and (max-width: 576px) {
  button {
    padding: 10px 20px;
    border-radius: 42px;
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  /* Nav */
  nav ul {
    display: none;
  }

  .bar-icon {
    display: block;
  }

  /* Banner */
  .banner {
    flex-direction: column;
    gap: 1rem;
  }

  .banner-info {
    width: 100%;
  }

  .banner-info h1 {
    font-size: 2.25rem;
  }

  .banner-info h1 span {
    font-size: 5rem;
  }

  .button-container {
    text-align: center;
    gap: .5rem;
  }

  .free-video {
    top: 60px;
    right: -12px;
  }

  .free-video h2 {
    font-size: 1.5rem;
  }

  .tutorial-video {
    bottom: 245px;
    left: 0;
  }

  .free-video p,
  .tutorial-video p {
    font-size: 0.8rem;
  }

  /* Habits Section */
  .habits-card-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  /* Running */
  #running {
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
  }

  .running-info {
    width: 100%;
  }

  .running-info button {
    display: block;
    width: 100%;
  }

  /* Diet Section */
  .diet-chart-title {
    width: 100%;
    text-align: center;
    
  }
  .diet-info {
    flex-direction: column-reverse;
  }

  .diet-info table {
    font-size: 0.8rem;
    width: 100%;
  }

  /* BMI Calculator */
  .bmi-calculator-title {
    width: 100%;
    padding-left: 0.5rem;
  }

  .bmi-calculator-content {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
  }

  .chart .title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .calculator {
    width: 100%;
  }

  .bmi-calculator-content table,
  .bmi-calculator-content td,
  .bmi-calculator-content th {
    font-size: 0.8rem;
    padding: 10px;
  }

  input,
  select {
    margin: 0.3rem;
  }

  /* Our team */
  .team-members {
    padding: 10px;
    grid-template: 1fr / 1fr;
    gap: 10px;
  }
  /* Footer */
  .main-footer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Extra Small Screen */
@media screen and (max-width: 370px) {
  button {
    font-size: 0.8rem;
  }

  .free-video,
  .tutorial-video {
    padding: 10px 15px;
  }

  .tutorial-video {
    bottom: 200px;
    left: 0;
  }
}
